
<form [formGroup] = "formulario"class="container">
    <h1 style="text-align: center;">DATOS FARMACIA</h1>
    <div class="item">
        <Label>Nombre de la farmacia:</Label>
        <input formControlName="name" class="input" type="text">   
    </div>
    <div class="item">
        <Label>Telefono de referencia:</Label>
        <input formControlName="phone" class="input" type="text">   
    </div>
    <div class="item">
        <Label>Registro de NIT:</Label>
        <input formControlName="nit" class="input" type="text">   
    </div>
    <div class="item">
        <Label>Horario de atención:</Label>
        <input formControlName="hrIni" class="input" type="time">   
    </div>
    <button (click)="enviarDatos()">Siguiente</button>
</form>