.container{
    width: 50%;
    margin: auto;
}
.item{
    width: auto;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input{
    width: 70%;
    height: 34px;
    border-radius: 8px;
}